<div class="login">
    <h2 class="login-header">Sign up</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

       <div class="login-container">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, maxlength: "12" %>
      </div>

      <div class="login-container">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="login-container">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="login-container">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

        <%= f.submit "新規登録" %>
    <% end %>
  </div>
</div>
