<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <%= render'layouts/new_header' %>
  <body>
      <% @users.each do |user| %>

      <div class="service-items">

      <!-- 自分のこと -->
      <div class="service-item">
        <%= link_to'自分のこと',edit_personal_path(user), class: "link" %>
        <%= image_tag '自分のこと.jpeg' %>
        <p>自分のことを入力しましょう。</p>
      </div>

       <!-- 日々の想い -->
        <div class="service-item">
          <%= link_to'日々の想い・言葉', new_emotion_path(user), class: "link" %>
          <%= image_tag '日々の想い.jpeg' %>
          <p>日々の想いを入力しましょう。</p>
        </div>

        <!-- 葬式のこと -->
        <div class="service-item">
          <%= link_to'葬式のこと', edit_funeral_path(user), class: "link" %>
          <%= image_tag '葬式のこと.png' %>
          <p>葬式のことを入力しましょう。</p>
        </div>

        <!-- 予算 -->
        <div class="service-item">
          <%= link_to'予算', edit_budget_path(user), class: "link" %>
          <%= image_tag '予算.jpeg' %>         
          <p>葬式の予算を入力しましょう。</p>
        </div>
        
        <!-- 喪主のこと -->
        <div class="service-item">
          <%= link_to'喪主のこと', edit_chief_mourner_path(user), class: "link" %>
          <%= image_tag '喪主.jpeg' %>         
          <p>喪主について考えを入力しましょう。</p>
        </div>

        <!-- 遺骨のこと -->
        <div class="service-item">
          <%= link_to'遺骨のこと', edit_ash_path(user), class:"link" %>
          <%= image_tag '遺骨.jpeg' %>         
          <p>遺骨について考えを入力しましょう。</p>
        </div>

        <!-- 戒名 -->
        <div class="service-item">
          <%= link_to'戒名のこと', edit_posthumous_name_path(user), class:"link" %>
          <%= image_tag '戒名.jpeg' %>         
          <p>戒名について考えを入力しましょう。</p>
        </div>

        <!-- 遺品整理 -->
        <div class="service-item">
          <%= link_to'遺品整理', edit_belonging_path(user), class:"link" %>
          <%= image_tag '遺品.jpeg' %>         
          <p>遺品について考えを入力しましょう。</p>
        </div>

        <!-- 遺産 -->
        <div class="service-item">
          <%= link_to'遺産のこと', edit_legacy_path(user), class:"link" %>
          <%= image_tag '遺産.jpeg' %>         
          <p>自分の遺産のことを入力しましょう。</p>
        </div>

        <!-- 友人・知人 -->
        <div class="service-item">
          <%= link_to'友人・知人', new_friend_path(user), class:"link" %>
          <%= image_tag '友人.jpeg' %>         
          <p>友人・知人への連絡について入力しましょう。</p>
        </div>
      </div>
       
      </div>
     <% end %>
  </body>
</html>
