<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <% stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <%= render'layouts/header' %>
  <body>
    <% @users.each do |user| %>

       <div class="service-items">

       <!-- 自分のこと -->
       <div class="service-item">
         <%= link_to edit_personal_path(current_user.name), class: "link" do %>
         <div class="item-wrapper">
         <p>自分のこと</p>
         <%= image_tag '自分のこと.jpeg', class: "center-image" %>
         </div>
         <button>自分のことを考えましょう。</button>
         <% end %>
       </div>

        <!-- 日々の想い -->
        <div class="service-item">
          <%= link_to new_emotion_path(current_user.name), class: "link" do %>
          <div class="item-wrapper">
          <p>日々の想い・言葉</p>
          <%= image_tag '日々の想い.jpeg' %>
          </div>
          <button>日々の想いを考えましょう。</button>
          <% end %>
        </div>

        <!-- 葬式のこと -->
        <div class="service-item">
          <%= link_to edit_funeral_path(current_user.name), class: "link" do %>
          <div class="item-wrapper">
          <p>葬式のこと</p>
          <%= image_tag '葬式のこと.png' %>
          </div>
          <button>葬式のことを考えましょう。</button>
          <% end %>
        </div>

        <!-- 予算 -->
        <div class="service-item">
          <%= link_to edit_budget_path(current_user.name), class: "link" do %>
          <div class="item-wrapper">
          <p>予算</p>  
          <%= image_tag '予算.jpeg' %>
          </div>
          <button>葬式の予算を考えましょう。</button>
          <% end %>
        </div>
          
        <!-- 喪主のこと -->
        <div class="service-item">
          <%= link_to edit_chief_mourner_path(current_user.name), class: "link"  do %>
          <div class="item-wrapper">
          <p>喪主のこと</p>  
          <%= image_tag '喪主.jpeg' %>
          </div>
          <button>喪主のことを考えましょう。</button>
          <% end %>
        </div>

        <!-- 遺骨のこと -->
        <div class="service-item">
          <%= link_to edit_ash_path(current_user.name), class:"link" do %>
          <div class="item-wrapper">
          <p>遺骨のこと</p>
          <%= image_tag '遺骨.jpeg' %>
          </div>
          <button>遺骨のことを考えましょう。</button>
          <% end %>
        </div>

        <!-- 戒名 -->
        <div class="service-item">
          <%= link_to edit_posthumous_name_path(current_user.name), class:"link" do %>
          <div class="item-wrapper">
          <p>戒名</p>
          <%= image_tag '戒名.jpeg' %>
          </div>
          <button>戒名のことを考えましょう。</button>
          <% end %>
        </div>

        <!-- 遺品整理 -->
        <div class="service-item">
          <%= link_to edit_belonging_path(current_user.name), class:"link" do %>
          <div class="item-wrapper">
          <p>遺品整理</p>  
          <%= image_tag '遺品.jpeg' %>
          </div>
          <button>遺品のことを考えましょう</button>
          <% end %>
        </div>

        <!-- 遺産 -->
        <div class="service-item">
          <%= link_to edit_legacy_path(current_user.name), class:"link" do %>
          <div class="item-wrapper">
          <p>遺産</p>
          <%= image_tag '遺産.jpeg' %>
          </div>
          <button>自分の遺産のことを考えましょう。</button>
          <% end %>
        </div>

        <!-- 友人・知人 -->
        <div class="service-item">
          <%= link_to new_friend_path(current_user.name), class:"link" do %>
          <div class="item-wrapper">
          <p>友人・知人</p>
          <%= image_tag '友人.jpeg' %>
          </div>
          <button>友人・知人のことを考えましょう。</button>
          <% end %>
        </div>
      </div> 
     </div>
    <% end %>
  </body>
</html>
