<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
      <!-- 本人のこと -->
      <% @users.each do |user| %>
      <div class="personal-page">
        <%= link_to'本人のこと',user_path(user), class: "personal-page" %>
        <%= image_tag '本人のこと.jpeg' %>
        <div class="personal-sub">自分のことを入力しましょう</div>
        </div>
      </div>
      <% end %>

      <!-- 内容 -->
      <div class="service-items">

        <!-- 葬式のこと -->
        <% @users.each do |user| %>
        <div class="service-item">
          <%= link_to'葬式のこと',funeral_path(user), class: "link" %>
          <%= image_tag '葬式のこと.png' %>
          <p>葬式について希望を入力しましょう。</p>
        </div>
        <% end %>

        <!-- 予算 -->
        <% @users.each do |user| %>
        <div class="service-item">
          <%= link_to'予算',funeral_path(user), class: "link" %>
          <%= image_tag '予算.jpeg' %>         
          <p>葬式の予算を入力しましょう。</p>
        </div>
        <% end %>

        <!-- 葬式のこと -->
        <div class="service-item">
          <h2>喪主</h2>
          <%= image_tag '喪主.jpeg' %>         
          <p>喪主について希望を入力しましょう。</p>
        </div>
      </div>
  </body>
</html>