<div class="mypage">
  <p>ユーザー名: <%= @user.name %></p>
  <P>長所: <%= @user.strengths %></p>
  <P>趣味: <%= @user.hobbies %></p>
  <P>特技: <%= @user.skills %></p>
  <p>葬式の希望: <%=  t("enum.user.funeral_wishes.#{@user.funeral_wishes}") %></p>
  <P>葬式の形態: <%= @user.funeral_form %></p>
  <P>趣味: <%= @user.hobbies %></p>
  <P>特技: <%= @user.skills %></p>
</div>
